body {
    margin: 40px;
    padding: 0;
    background: rgb(101, 121, 138);
}

.titulo1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}
.titulo2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
}

.subtitulo {
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    letter-spacing: 2px;
}

.display {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
}

.option:hover {
    cursor: pointer;
}

.btn {
    margin: 20px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.btn:hover {
    background-color: #349ac9;
    box-shadow: 0px 15px 20px rgba(50, 87, 165, 0.4);
    color: #fff;
}

.output {
    display: none;
}

.output .number-display{
    width: 30%;
    margin: auto;
    border: 2px solid rgb(58, 55, 55);
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background: rgb(197, 143, 42);
}

.output .titulo-tabla {
    background: rgb(221, 221, 32);
    width: 100%;
    float: left;
    text-align: center;
    word-spacing: 300px;
    color: black;
    padding: 10px 0;
}

.output .rellenar {
    text-align: center;
    word-spacing: 300px;
}

.nuevos-registros {
    color: red;
}

.output .buttons {
    text-align: center;
}

.chiCuadrado {
    display: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.btn2:hover {
    background-color: #2bc852;
    box-shadow: 0px 15px 20px rgba(23, 105, 78, 0.4);
    color: #fff;
}

.estadistico {
    display: none;
    width: 60%;
    margin: 0 auto;
    background: rgb(184, 18, 18);
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 1500px) {
    .output .number-display {
        width: 35%;
    }
    .output .titulo-tabla {
        word-spacing: 300px;
    }
    .output .rellenar {
        word-spacing: 300px;
    }
}

@media (max-width: 1300px) {
    .output .number-display {
        width: 40%;
    }
    .output .titulo-tabla {
        word-spacing: 250px;
    }
    .output .rellenar {
        word-spacing: 250px;
    }
}

@media (max-width: 1000px) {
    .output .number-display {
        width: 50%;
    }
    .output .titulo-tabla {
        word-spacing: 200px;
    }
    .output .rellenar {
        word-spacing: 200px;
    }
    .titulo1 {
        font-size: 35px;
    }
}

@media (max-width: 800px) {
    .output .number-display {
        width: 60%;
    }
    .output .titulo-tabla {
        word-spacing: 150px;
    }
    .output .rellenar {
        word-spacing: 150px;
    }
    .titulo1 {
        font-size: 30px;
    }
    .titulo2 {
        font-size: 15px;
    }
    .subtitulo {
        font-size: 25px;
    }
}

@media (max-width: 550px) {
    .output .number-display {
        width: 80%;
    }
    .output .titulo-tabla {
        word-spacing: 150px;
    }
    .output .rellenar {
        word-spacing: 150px;
    }
    .titulo1 {
        font-size: 25px;
        letter-spacing: 2px;
    }
    .subtitulo {
        font-size: 20px;
    }
    .btn {
        font-size: 14px;
        margin: 10px;
    }
}

@media (max-width: 400px) {
    .output .number-display {
        width: 90%;
    }
    .output .titulo-tabla {
        word-spacing: 100px;
    }
    .output .rellenar {
        word-spacing: 100px;
    }
}

@media (max-width: 300px) {
    .output .number-display {
        width: 95%;
    }
    .output .titulo-tabla {
        word-spacing: 50px;
    }
    .output .rellenar {
        word-spacing: 50px;
    }
}


